body {
  background-color: #eee;
}
.profile {
  font-size: 120%;
  background-color: rgb(201, 198, 198);
  padding: 6px 0;
}
#menu {
  background-color: #dfdfbf;
  list-style-type: none;
  padding: 0;
}
.menu-link {
  color: #333;
  font-weight: bold;
  text-decoration: none;
  padding: 7px 0;
  display: block;
}
li:not(:last-child) .menu-link {
  padding-bottom: 2px;
}
.menu-link:hover {
  background-color: rgb(100, 199, 130);
  border-right: 3px rgb(20, 20, 240) solid;
  box-shadow: 1px -1px 2px black;
}
